.header-ui-haf{
	height: 150px;
	width: 1440px;
	background-image: linear-gradient(180deg, #f4f4f6 90%, #f2f2f4 100%);
}

.header-cntr{

}

.header-logo{
	padding: 30px 0 0 30px;
}
.main-gap{
	height: 40px;
	width: 1440px;
	background-image: linear-gradient(0deg, #f2f2f4 0%,  #f4f4f6 67%, #e9e9eb 100%);	
}
.footer-gap{
	height:1px;
	width: 1440px;
	background-color: rgba(31, 32, 65, 0.25);
}
.footer-ui-haf{
	height: 130px;
	width: 1440px;
	background-image: linear-gradient(180deg, #e9e9eb 0%, #f4f4f6 10%);

}