.body__inner{
	background-image: url(../img/Bg_Room_1ct.png);
	background-size: 1440px 900px;
	background-repeat: no-repeat;
}

.main{
	height: 830px;
}

.main__inner{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	flex-direction:column;
}

/*main form adoptation classes*/
.landing-form{
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	padding: 39px 29px 30px 29px;
	background-color: #fff;
	width: 380px;
	height: 375px;
}
.landing-form__repose{
	margin-top:70px;
	align-self:flex-start;
}
.lf-double-dates-group{
	margin:22px 0 0 0;
}
.lf-double-dates-group>.named-field{
	display: inline-block;
	width:152px;
}
.lf-double-dates-group .named-field+.named-field{
	margin-left:11px;
}

.guests-nf__lf-rep{ /*guests-named-field__landing-form-reposition*/
	margin:16px 0 0 0;
}

.submit-bt__lf-rep{
	margin:25px 0 0 0;
	height:45px;
}

/*the guests modal form adoptation classes*/
.qimf__guests{
	/* modal-form-guests
	background-color: #fff;*/
	/*display:none;
	background-image: url(../img/GuestsDrDnFrBg.svg);
	padding:31px 31px;
	width:360px;
	height:199px;
	position:relative;*/
	left:10px;
	top:-130px;
	align-self:flex-start;
	z-index:5;
}

/*the arrival-departure dates modal form adoptation classes*/
.main__form-wrapper{
	/*This crutch need to squeeze too very big dataPicker's form to parent flex contaner*/
	position:relative;
	align-self:flex-start;
}
.dimf__arr-dep{
	position:absolute;
	left: 29px;
	top: -186px;
	z-index:5;
}

.main__flex-gap-greeder{
	width:100%;
	flex-grow:1;
	flex-shrink:1;
}
.main__pager{
	opacity:0;
	transition:opacity 1s;
}
.main__pager:hover{
	opacity:1;
	transition:opacity 1s;
}

.main__pager-rbtn{
	padding: 0 0 0 25px;
	min-height: 25px;
}
.main__signature{
	padding: 0 0 29px 0; 
	color: rgba(31, 32, 65, 0.75);
	line-height: 24px;
	text-align: right;
}

