.body__inner{
	background-image: url(../img/Bg_Room_1ct.png);
	background-size: 1440px 900px;
	background-repeat: no-repeat;
}

.main{
	height: 830px;
}

.main__inner{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	flex-direction:column;
}

/*main form adoptation classes*/
.landing-form{
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	padding: 39px 29px 30px 29px;
	background-color: #fff;
	width: 380px;
	height: 375px;
}
.landing-form_rep{
	margin-top:70px;
	align-self:flex-start;
}
.double-dates-fields-group>.named-field{
	display: inline-block;
	width:152px;
}
.double-dates-fields-group .named-field+.named-field{
	margin-left:11px;
}
.lnd-frm__double-dates-fields-group_rep{
	margin:22px 0 0 0;
}

.lnd-frm__guests-named-field_rep{ /*landing-form__guests-named-field_reposition*/
	margin:16px 0 0 0;
}

.lnd-frm__submit-button_rep{
	margin:25px 0 0 0;
	height:45px;
}

/*the guests modal form adoptation classes*/
.lnd-frm__qimf-guests_rep{
	/* modal-form-guests
	background-color: #fff;*/
	/*display:none;
	background-image: url(../img/GuestsDrDnFrBg.svg);
	padding:31px 31px;
	position:relative;*/
	width:320px;
	height:157px;
	left:30px;
	top:-110px;
	align-self:flex-start;
	z-index:5;
}

/*the arrival-departure dates modal form adoptation classes*/
.main__form-wrapper{
	/*This crutch need to squeeze too very big dataPicker's form to parent flex contaner*/
	position:relative;
	align-self:stretch;
}
.lnd-frm__dimf-arr-dep_rep{
	position:absolute;
	left: 29px;
	top: -186px;
	z-index:5;
}

.main__flex-gap-greeder{
	width:100%;
	flex-grow:1;
	flex-shrink:1;
}
.main__pager{
	opacity:0;
	transition:opacity 1s;
}
.main__pager:hover{
	opacity:1;
	transition:opacity 1s;
}

.main__pager-rbtn{
	padding: 0 0 0 25px;
	min-height: 25px;
}
.main__signature{
	padding: 0 0 29px 0; 
	color: rgba(31, 32, 65, 0.75);
	line-height: 24px;
	text-align: right;
}

@media(max-width:1100px){
	.main{
		height:815px;
	}
	.landing-form_rep{
		margin-top:55px;/* 135 --- 70(70)-85(70-15=55)-135(70-65=5)*/
	}
}
@media(max-width:460px){
	.main{
		height:765px;
	}	
	.landing-form_rep{
		margin-top:5px;/* 135 --- 70(70)-85(70-15=55)-135(70-65=5)*/
	}	
}
@media(max-width:410px){
	.landing-form{
		padding:5px;
		width:99%;
		height:315px;
	}
	.lnd-frm__double-dates-fields-group_rep>.named-field{
		width:47.2%;
	}
	.lnd-frm__dimf-arr-dep_rep{
		left: 5px;
		top: -160px;
		width:95%;
	}
	.datepicker_arr-dep .datepicker{
		margin:0 auto;
	}
	.lnd-frm__qimf-guests_rep{
		width:95.7%;
		left:6px;
		top:-84px;
	}
}

@media(max-width:368px){
	.lnd-frm__dimf-arr-dep_rep{
		padding-left:0;
		padding-right:0;
	}
	.dimf-ad__button-bar{
		margin-left:14px;
		margin-right:14px;
	}
	.lnd-frm__qimf-guests_rep{
		width:95.3%;
	}
}
@media(max-width:340px){
	.datepicker_arr-dep .datepicker{
		width:90%;
	}
	.lnd-frm__qimf-guests_rep{
		width:94.9%;
	}
}

