.body__inner{
	background-image: url(../img/Bg_LogReg_ct.png);
	background-size: 1440px 772px;
	background-repeat: no-repeat;
}

.main__inner{
	/*max-width: 1440px;*/
}
.main{
  height:702px;
}

.registration-form{
  border:1px solid rgba(0, 0, 0, 0.12);
  border-radius:5px;
  padding:38px 29px 30px 29px;
  background-color: #fff;
  position:relative;
  width:380px;
  height:646px;
}
.registration-form_rep{
  left:50%;
  transform:translateX(-50%);
  top:30px;
}
/*.main-form-reg{
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	padding: 35px 29px;
	background-color: #fff;
	position: relative;
	left: 530px;
	top: 30px;
	width: 380px;
	height: 646px;
}*/
.registration-form h1{
  padding-bottom:17px;
  font-weight:bold;
  letter-spacing:.01rem;
}

/*.main-form-reg h1{
	padding-bottom: 15px;	
}
.main-form-reg h3{
	padding: 0;	
}*/

.reg-frm__text-field_rep{
  margin:5px 0;
  width:100%;
}
.reg-frm__birth-ntf-group_rep{ /*ntf - named text field*/
	margin-top:13px;
}
.reg-frm__account-ntf-group_rep{ /*ntf - named text field*/
  margin-top:15px;
}
.reg-frm__sex-rd-btns-group_rep{
	margin-top:6px;	
}
.reg-frm__offer-tgl_rep{
  margin-top:5px; 
}
.reg-frm__submit-btn_rep{
  margin-top:14px;
  height:44px;
}
.reg-frm__txt-btn-group{
  display:flex;
  justify-content:space-between;
  /*align-items:center;*/
}
.reg-frm__txt-btn-group_rep{
  margin-top:30px;
}
.reg-frm__txt-btn-group span{
  padding:12px 0 21px 0;
	color:black;
}

.reg-frm__log-btn_rep{
  width:98px;
  height:44px;
}

@media(max-width:1100px){
  .main{
    height:687px;
  }
  .registration-form_rep{
    top:15px;/* 85 --- 70(70)-85(70-15=55)-135(70-65=5)*/
  }
}
@media(max-width:460px){
  .main{
    height:637px;
  } 
  .registration-form{
    padding:3px 5px 5px 5px;/* width-48 Height-60*/
  } 
  .registration-form_rep{
    top:0;/* 135 --- 70(70)-85(70-15=55)-135(70-65=5)*/
    height:586px;
  } 
}
@media(max-width:410px){
  .registration-form_rep{
    width:99%;
  }
}
@media(max-width:340px){
  .registration-form_rep-rus h1{
    font-size:22px;
    /*padding-bottom:0;
    border:1px solid lime;*/
    height:46px;
  }
  .reg-frm__txt-btn-group span{
    padding-top:0;
  }
}
