.body__inner{
	background:linear-gradient(180deg, #f4f4f4 0%, #ffffff 2%);
	background-position:0 70px;
	/*background-image: url(../img/Bg_Room_1ct.png);
	background-size: 1440px 900px;
	background-repeat: no-repeat;*/
}
.main{
	height:1355px;
}
.main__inner{
	display:flex;
	justify-content:space-between;
}
.main__aside-search{
}
.search-form{
	width:266px;
	/*background-color: #ccddff;*/
}

.srch-frm__being-dates_rep{
	margin-top:31px;
}
.srch-frm__dimf-arr-dep_rep{
	position:absolute;
	left:inherit;
	top:165px;
	z-index:3;
}
.srch-frm__guests_rep{
	margin-top:15px;
}
.srch-frm__qimf-guests_rep{
	position:absolute;
	width:266px;
	left:inherit;
	top:246px;
	z-index:5;
}
.srch-frm__range-price_rep{
	margin-top:11px;	
}
.srch-frm__improvements_rep{
	margin-top:28px;	
}
.srch-frm__accessibility_rep{
	margin-top:28px;	
}
.srch-frm__number-improvements_rep{
	margin-top:20px;
}
.srch-frm__qimf-number-improvements_rep{
	position:absolute;
	width:266px;
	left:inherit;
	top:787px;
	z-index:5;
}
.srch-frm__qimf-number-improvements_rep-rus{
	top:769px;
}
.srch-frm__auxiliary-improvements_rep{
	margin-top:8px;

}

.main__masonry-result{
	width:834px;
	padding-top:37px;
	/*background-color: #ffeecc;*/
}
.main__masonry-result-h1_rep{
	padding:0 0 26px 0;
}

.main__searched-rooms-grid{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-content:space-between;
	/*border:1px dotted tomato;*/
	height:1092px;
	background-color:#f8f8f8;
	box-shadow:0px -1px 1px #fefefe,0px 25px 25px #f5f5f5,-17px 0px 17px #f9f9f9,17px 0px 17px #f9f9f9;
}
/*.number-preview:nth-child(-n+3){/*the shadow of top previews*//*
	box-shadow:0px -1px 1px #fefefe;	
}
.number-preview:nth-child(n+10){/*the shadow of bottom previews*//*
	box-shadow:0px 25px 25px #f5f5f5;
}
.number-preview:nth-child(3n+1){/*the shadow of left previews*//*
	box-shadow:-17px 0px 17px #f9f9f9;
}
.number-preview:nth-child(3n+3){/*the shadow of right previews*//*
	box-shadow:17px 0px 17px #f9f9f9;
}*/

.number-preview{
	width:270px;
	height:258px;
	/*border:1px solid green;*/
	flex-grow:0;
	flex-shrink:0;
}


.number-preview:first-child{
	box-shadow:2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7;
}
.number-preview:nth-child(2){
	box-shadow:2px 0px 2px #f7f7f7,-2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7;
}
.number-preview:nth-child(3){
	box-shadow:-2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7;
}

.number-preview:nth-child(4), .number-preview:nth-child(7){
	box-shadow:2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}
.number-preview:nth-child(5), .number-preview:nth-child(8){
	box-shadow:2px 0px 2px #f7f7f7,-2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}
.number-preview:nth-child(6), .number-preview:nth-child(9){
	box-shadow:-2px 0px 2px #f7f7f7,0px 2px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}

.number-preview:nth-child(10){
	box-shadow:2px 0px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}
.number-preview:nth-child(11){
	box-shadow:2px 0px 2px #f7f7f7,-2px 0px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}
.number-preview:last-child{
	box-shadow:-2px 0px 2px #f7f7f7,0px -2px 2px #f7f7f7;
}

.numb-prev__slider-navbtn{
	position:absolute;
	z-index:1;
	height:60px;
	width:45px;
	top:50%;
	transform: translateY(-50%);
	border:0;
	border-radius:0;
	background-color:transparent;
}
.numb-prev__slider-navbtn:hover{
	background-color:rgba(0,0,0,0.1);
}
.number-preview:nth-child(n+2) .numb-prev__slider-navbtn:after{/*To hide the bracket-buttons for all exept first preview*/
	content:'';
}
.number-preview:nth-child(n+2) .numb-prev__slider-navbtn:hover:after{/*To hide the bracket-buttons for all exept first preview*/
	content:'\e904';
}

.numb-prev__slider-navbtn_prev{
	left:0;
}
.numb-prev__slider-navbtn_prev:after{
	display: inline-block;
	font-family: 'icomoon';
	content:'\e904';
	font-size:24px;
	color:#fff;
	position: absolute;
	left:8px;
	top:46%;
	transform:rotate(-90deg)translateX(50%)scaleY(.85);
}

.numb-prev__slider-navbtn_next{
	right:0;	
}
.numb-prev__slider-navbtn_next:after{
	display: inline-block;
	font-family: 'icomoon';
	content:'\e904';
	font-size:24px;
	color:#fff;
	position: absolute;
	right:8px;
	top:46%;
	/*transform-origin:0 10px;*/
	transform:rotate(90deg)translateX(-50%)scaleY(.85);
}
.numb-prev__slider-nav-dots{
	position:absolute;
	right:13px;
	bottom:4px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.numb-prev__slider-nav-dots li{
	padding-left:4.5px;
}
.numb-prev__slider-nav-dots button{
	border:1px solid white;
	padding:0;
	width:7px;
	height:7px;
	border-radius:5px;
	color:transparent;
	background-color:transparent;
}
.numb-prev__slider-nav-dots>.slick-active button{
	background-color:white;
}

.numb-prev__description{
	display:block;
	padding:0 20px;
}
.numb-prev__desc-numb-price{
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	height:54px;
	padding:20px 0 15px 0;
}
/*.numb-prev__desc-numb-sign{
	font-family:'Quicksand';
	/*font-style: normal;*//*
	font-weight:bold;
	font-size: 14px;
	line-height: 17px;
	color: #1F2041;
}*/
.numb-prev__desc-numb{
	font-family:'Quicksand';
	/*font-style: normal;*/
	font-weight:bold;
	font-size: 19px;
	line-height: 23px;
	color: #1F2041;
}
.numb-prev__desc-numb:before{
	content:'№ ';
	font-size: 14px;
	line-height: 17px;
}
.numb-prev__desc-numb:after{
	content:'';
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
}
.numb-prev__desc-numb_lux-ru:after{
	content:'Люкс';
}
.numb-prev__desc-numb_lux-en:after{
	content:'Lux';
}

.numb-prev__desc-price{
	/*font-family: Montserrat;
	font-style: normal;*/
	font-size:14px;
	line-height:18px;
	color:rgba(31, 32, 65, 0.5);
}
.numb-prev__desc-sum-of-money{
	font-weight:bold;
	position:relative;
	padding-right:14px;
}
.numb-prev__desc-sum-of-money:after{
	content:'\f158';
	font-family:'icomoon1';
	font-style:normal;
	font-weight:bold;
	font-size:13px;
	position:absolute;
	top:3px;
	right:4px;
}
.numb-prev__desc-rating{
	border-top:1px solid #e9e9ec;
	display:flex;
	justify-content:space-between;
	height:54px;
	padding:10px 0 22px 0;
}
.numb-prev__desc-stars{
	position:relative;
	font-size:12px;
	width:10em;
	height:2em;
	background-image:url("../img/star_hallow-xs.svg");
	background-size:2em auto;
	border:none;
	padding:0;
	margin:0;
}
.numb-prev__desc-star{
	position:absolute;
	top:0;
	left:0;
	height:2em;
	font-size:inherit;
	background-size:2em auto;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.numb-prev__desc-star:focus{
	outline:none;
}
.numb-prev__desc-star:checked{
	background-image:url("../img/star_full-xs.svg");
}
.numb-prev__desc-star:nth-of-type(1){
	z-index:5;
	width:2em;
}
.numb-prev__desc-star:nth-of-type(2){
	z-index:4;
	width:4em;
}
.numb-prev__desc-star:nth-of-type(3){
	z-index:3;
	width:6em;
}
.numb-prev__desc-star:nth-of-type(4){
	z-index:2;
	width:8em;
}
.numb-prev__desc-star:nth-of-type(5){
	z-index:1;
	width:10em;
}

.numb-prev__desc-reviews{
	/*font-family: Montserrat;
	font-style: normal;*/
	/*font-weight: bold;*/
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.5);
	padding-top:5px;
}
.numb-prev__desc-review-amount{
	font-weight:bold;
}
/*Paging classes*/
.main__paging_rep{
	/*display:inline-block;
	margin:40px 40px 0 40px;*/
	margin-top:40px;
	text-align:center;
}
.paging__pages{
	display:inline-flex;
	position:relative;
}
.page{
	width:40px;
	height:40px;
	border-radius:50% 50%;
	text-align:center;
	padding:12px 2px 12px 0;
	/*font-family: Montserrat;
	font-style: normal;
	font-weight: normal;*/
	font-size: 12px;
	line-height: 15px;
	color:rgba(31, 32, 65, 0.5);
}
.page:hover{
	background-color:#f0f0f0;
}
.next-page,
.previous-page{
	position:absolute;
	background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.previous-page{
	left:-40px;
}
.next-page:after{
	content:'';
	position:absolute;
	background-image:url("../img/arrow2right.svg");
	z-index:1;
	top:50%;
	left:50%;
	height:16px;
	width:16px;
	transform:translate(-50%, -50%);
}
.previous-page:after{
	content:'';
	position:absolute;
	background-image:url("../img/arrow2right.svg");
	background-repeat:no-repeat;
	z-index:1;
	top:50%;
	left:50%;
	height:16px;
	width:16px;
	transform:translate(-50%, -50%)scaleX(-1);

}
.current-page{
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	font-weight:bold
}
.ellipsed-pages{
	cursor:default;
}
.ellipsed-pages:hover{
	background-color:#ffffff;
}

.body-footer-line{
	max-width:1440px;
	width:100%;
	height:1px;
	background-color:#c6c7cf;
}