*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
img{
	padding: 0;
	margin: 0;
}
form{
	color: rgba(31, 32, 65, 0.5);
}

form>*{
	color: inherit;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
}
a{
	text-decoration: none;
	display: inline-block;
	/* Dark 50% */
	color: rgba(31, 32, 65, 0.5);
}
h1, h2, h3{
	color: #1f2041;
	margin: 0;
}
h1{
	font-size: 24px;
	line-height: 29px;
}
h2{
	font-size: 19px;
	line-height: 23px;
}
h3{
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

ul,
li{
	list-style: none;
	margin: 0;
	padding: 0;
}
/*
.mF_textField{
	height:45px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 5px;
	color: rgba(31, 32, 65, 0.25);
	padding:0 37px 4px 13px;
	background-image: url(../img/bracketDown.png);
	background-repeat: no-repeat;
	outline: 0px
}

.mF_textField:hover{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.mF_textField-active{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}
*/

.body-container{
	width: 1440px;
	margin: 0 auto;
}

.header{
	/*for debug, later remove*/
	border: 1px solid #000;
	/*for debug, later remove
	border: 1px solid #000;
	vertical-align: middle;
	position: relative;
*/
}
.header-container{
	/*max-width: 1440px;*/
	height: 70px;
	margin: 0 auto;
	/*Not to stick the container to the device sides that width less then 1440px*/
	padding: 0 15px; 
}
.header__logo{
	float: left;
	padding: 12px 0 12px 125px;/*left=140-15*/
}

.header__menu{
	/*display: inline;	
	padding-right: 125px;/*140-15*/
}
.header__list{
	float: right;
	padding: 15px 125px 15px 0;/*right=140-15*/
}

.header__list li{
	display: inline-block;
}
.header__list a{
	padding: 10px 15px 10px 15px;
}
.header__list a:hover{
	/* Dark 75% */
	color: rgba(31, 32, 65, 0.75);
	font-weight: bold;  
	/*padding: 10px 13.5px 10px 13.5px;
	14px for "Home", "News", "Services" 
	13.5px for "About Us" and "Careers"
	13.2px for "Documentation"
	For another localization words have to calculate the accordinly values of the padding
	*/
}


/*common style form controls*/
/*1. any text fields styles*/
.text-field,
.subscription-text-field,
.dropdown-text-field{
	height:45px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 5px;
	color: rgba(31, 32, 65, 0.25);
	padding: 13px;
	outline: 0px
}

.text-field:hover,
.subscription-text-field:hover,
.dropdown-text-field:hover{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.text-field-active{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.subscription-text-field,
.dropdown-text-field{
	padding:13 37px 13px 13px;
}

.subscription-text-field{
	background-image: url(../img/bracketDown.png);
	background-repeat: no-repeat;
}
/*2. any buttons styles*/

.SubmitButton{
	height: 45px;
	font-weight: bold;  
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px; /*1px 5px 1px 5px;*/
	background-image: url(../img/Bg_btn_SelectNumber.png);
	background-size: 100% 45px;
	background-position: 0 0px;
	background-repeat: no-repeat;
	background-clip: border-box;
	color: white;
}	

.SubmitButton:hover{
	background-image: url(../img/Bg_btn_SelectNumber_hover.png);
	color: #bc9cff;
	/*background-size: 79px 34px;*/
}

.SubmitButton a{
	color: inherit;
	padding: 15px 0px 15px 0px;
}

.RoundButton {
	border-radius: 15px;
	border: 1px solid rgba(31, 32, 65, 0.05);
	background-color: #fff;
	padding: 3px 11px 4px 9px;
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 22px;
	color: rgba(31, 32, 65, 0.25);
}

.LoginButton{
	height: 45px;
	font-weight: bold;  
	font-size: 12px;
	text-transform: uppercase;
	padding: 1px 5px 1px 5px;
	background-image: url(../img/Bg_btn_Login_eng.png);
	background-size: 79px 34px;
	background-position: 0 3px;
	background-repeat: no-repeat;
	background-clip: border-box;
}	
.LoginButton_Rus{
	background-image: url(../img/Bg_btn_Login_rus.png);
	background-size: 87px 34px;
}

.LoginButton:hover{
	background-image: url(../img/Bg_btn_Login_eng_hover.png);
	background-size: 79px 34px;
}

.LoginButton_Rus:hover{
	background-image: url(../img/Bg_btn_Login_rus_hover.png);
	background-size: 87px 34px;	
}

.LoginButton a{
	padding: 10px 15px 10px 15px;
	color: white;
}	

.LoginButton a:hover{
	color: #bc9cff;
}

.RegisterButton{
	font-weight: bold;  
	font-size: 12px;
	text-transform: uppercase;
	padding: 1px 5px 1px 5px;
	background-image: url(../img/Bg_btn_Register_eng.png);
	background-size: 101px 34px;
	background-position: 0 3px;
	background-repeat: no-repeat;
	background-clip: border-box;
}	
.RegisterButton_Rus{
	background-image: url(../img/Bg_btn_Register_rus.png);
	background-size: 196px 34px;	
}
.RegisterButton:hover{
	background-image: url(../img/Bg_btn_Register_eng_hover.png);
	background-size: 101px 34px;
}
.RegisterButton_Rus:hover{
	background-image: url(../img/Bg_btn_Register_rus_hover.png);	
	background-size: 196px 34px;	
}

.RegisterButton a{
	color: white;
}	

.RegisterButton a:hover{
	color: #bc9cff;
}

/*3. any radio buttons styles*/

.radio-btn{
  position: relative;
  min-height: 30px;
  padding-left: 30px;
  padding-right: 15px;
  cursor: pointer;
  display: inline-block;
}
.radio-btn__check-box{
  position: absolute;
  width: 0px;
  height: 0px;
  outline: none;
}
.radio-btn__label{
  cursor: pointer;
}
.radio-btn__render{
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: solid 1px #bc9cff;
  border-radius: 9px;
  cursor: pointer;
}
.radio-btn__check-box:disabled + .radio-btn__label > .radio-btn__render {
  border-color: rgba(31, 32, 65, 0.25);
}
.radio-btn__check-box:focus + .radio-btn__label > .radio-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(0, 0, 255, 0.15);
}
.radio-btn__check-box:active + .radio-btn__label > .radio-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(255, 0, 0, 0.3);
}
.radio-btn__check-box:checked + .radio-btn__label > .radio-btn__render::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.radio-btn__check-box:checked + .radio-btn__label {
  color: rgba(31, 32, 65, 0.75);
}

/*4. any toggles styles*/

.toggle-btn{
  position: relative;
  min-height: 30px;
  padding-left: 50px;
}
.toggle-btn__check-box{
  position: absolute;
  width: 0px;
  height: 0px;
  outline: none;
}
.toggle-btn__label{
  cursor: pointer;		
  color: rgba(31, 32, 65, 0.75);
}
.toggle-btn__render{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  border: solid 1px rgba(31, 32, 65, 0.25);
  border-radius: 9px;
  cursor: pointer;	
}
.toggle-btn__check-box:checked + .toggle-btn__label > .toggle-btn__render {
  border-color: #bc9cff;
}
.toggle-btn__check-box + .toggle-btn__label > .toggle-btn__render::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  left: 9px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(31, 32, 65, 0.25);
  transition: left 0.5s;
}
.toggle-btn__check-box:checked + .toggle-btn__label > .toggle-btn__render::before {
  left: 29px; /*28*/
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
/*.btnToggleCkB:disabled + .btnToggleLbl > .btnToggleRender {
  border-color: rgba(31, 32, 65, 0.25);
  cursor: auto;
}
.btnToggleCkB:disabled + .btnToggleLbl {
  cursor: auto;
}*/
.toggle-btn__check-box:focus + .toggle-btn__label > .toggle-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(0, 0, 255, 0.15);
}
.toggle-btn__check-box:active + .toggle-btn__label > .toggle-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(255, 0, 0, 0.3);
}

/*
.modalFormDate{
	display: none;
	left: 170px;
	top: 330px;
	width: 320px;
	height: 369px;
	/*background-image: url(../img/GuestsDrDnFrBg.svg);*//*
	position: fixed;
	padding: 31px 31px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.modalFormGuests{
	display: none;
	left: 150px;
	top: 392px;
	width: 360px;
	height: 199px;	
	background-image: url(../img/GuestsDrDnFrBg.svg);
	position: fixed;
	padding: 31px 31px;
	/*background-color: #fff;*//*
}

.modalFormGuests > div{
	padding: 3px 0 3px 3px;
	height: 35px;
	display: flex;
	justify-content: space-between; 
}

.modalFormGuests > div:last-child{
	padding: 9px 0 1px 3px;
}

.modalFormGuests h3{
	padding: 6px 0;
}

.modalFormGuests_BtnGrp{
	width:90px;
	/*float: right;*//*
	display: flex;
	justify-content: space-between; 
}
/*.modalFormGuests_BtnGrp > *{
	display: inline;
}*//*

.modalFormGuests_BtnGrp p{
	margin: 0;
	padding: 6px 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}


.modalFormGuests button{
	outline-width: 0;
}


button[class$="P-Btn"]{
	border-color: rgba(31, 32, 65, 0.25);
	/*color: rgba(31, 32, 65, 0.25);*//*
}

button[class$="P-Btn"]:hover{
	border-color: rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.M-Btn-active{
	border-color: rgba(31, 32, 65, 0.25);
}

.M-Btn-active:hover{
	border-color: rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.modalFormGuests_Clean,
.modalFormGuests_Apply{
	border: none;
	background-color: #fff;
	padding: 0;
	color: rgba(31, 32, 65, 0.5);
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;

}

.modalFormGuests_Clean:hover,
.modalFormGuests_Apply:hover{
	color: #bc9cff;
}

.modal-show{
	display: block;
}
.main-container-in{
	display: flex;
	width: 100%;
	height: 100%;
	/*text-align: right;
	vertical-align: bottom;*//*
	justify-content: flex-end;
	align-items: flex-end;
}
.main-container-in__Signature{
	padding: 0 140px 29px 0; 
	color: rgba(31, 32, 65, 0.75);
	line-height: 24px;
	text-align: right;

}
*/

.footer-container__body{
	height: 373px;
	padding: 0 140px 0 140px; 
	border: 1px solid #000;
	display: flex;
	justify-content: space-between; 
}
/*.footer-container__body > div{
	display: inline-block;

}*/

.footer-container__body h3{
	padding: 10px 0;	
}
.footer-container__body p{
	line-height: 24px;	
	color: rgba(31, 32, 65, 0.75);
}

.footer-container__body_logo{
	width: 260px; /*22.4%;*/
	height: 373px;
	border: 1px solid #000;
	padding: 90px 0 0 0;
}

.footer-container__body_nav{
	width: 18.1%;
	height: 373px;
	border: 1px solid #000;
	margin: 0;
	padding: 90px 40px 0 40px;
	flex-grow: 1;
}

.footer-container__body_nav li:not([class*='LocLink']){
	padding: 10px 0;
}
.footer-container__body_engLocLink,
.footer-container__body_rusLocLink{
	padding: 10px 0;
}
.footer-container__body_subscription{
	width: 260px; /*22.4%;*/
	height: 373px;
	border: 1px solid #000;
	padding: 90px 0 0 0;

}

.footer-container__body_sbscrField{
	height:45px;
	width:100%;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 5px;
	color: rgba(31, 32, 65, 0.25);
	padding:0 37px 4px 13px;
	
	/*background-image: url(../img/bracketDown.png);
	background-repeat: no-repeat;*/
	outline: 0px
}
.footer-container__body_sbscrField:hover{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.footer-container__body_subEmail{
	display: inline;
}
.footer-container__body_sbArrow{
	position: relative;
	top:-30px;
	left:230px;
}

img[ class^="flag_"]{
	width:24px;
	margin: 0 5px 0 0;
}

.currentLanguageHide{
	display: none;
	padding: 0;

}

.footer-container__bottom{
	height: 70px;
	padding: 0 15px; 
	vertical-align: middle;
	border: 1px solid #000;

}

.footer-container__bottom_rights{
	padding: 25px 0 25px 125px;/*left=140-15*/
	float: left;
}

.footer-container__bottom_socials{
	float: right;
}
.footer-container__bottom_socials_list{
	padding: 20px 115px 20px 0px;/*left=140-15-10*/
}

.footer-container__bottom_socials_list li{
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
