*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
img{
	padding: 0;
	margin: 0;
}
form{
	color: rgba(31, 32, 65, 0.5);
}

form>*{
	color: inherit;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
}
a{
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
h1, h2, h3{
	color: #1f2041;
	margin: 0;
}
h1{
	font-size: 24px;
	line-height: 29px;
}
h2{
	font-size: 19px;
	line-height: 23px;
}
h3{
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

ul,
li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-forms-h1{
	margin-bottom: 17px;
	font-weight: bold;
}

.body__inner{
	max-width:1440px;
	margin: 0 auto;
}

.main__inner{
	max-width:1160px;/*1440px-280px*/
	height:100%;
	margin: 0 auto;
}

/*2. common style form controls*/
/*2.1. all text fields styles*/
.text-field{
	height:44px;
	width:100%;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 5px;
	color: rgba(31, 32, 65, 0.25);
	padding: 13px;
	outline: 0px;
	background-color:white;
}

.text-field:hover{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.text-field_active{
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}
/* obsolete classes
.dropdown-text-field{
	padding:13px 37px 13px 13px;
}
*/

.dropdown-field{
/*A class for div containing input(class="text-field")
It's needed for adding the arrow pseudoelement*/
	position:relative;
}
.dropdown-field:after{
	position:absolute;
	font-family:"icomoon";
	font-size:24px;
	content:"\e905";
	top:50%;
	transform:translateY(-50%);
	right:15px;
	transition:transform 1s;

}
.dropdown-field_clicked:after{
	top:50%;
	transform: translateY(-50%) rotate(180deg);
	transition:transform 1s;
}

.dropdown-field>.text-field{
	padding:13px 40px 13px 13px;
}

.subscription-text-field{
	position: relative;
}
.subscription-text-field__txtfld{
	position: absolute;
	padding:13 37px 13px 13px;
}
.subscription-text-field__btn{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 16px;
	width: 16px;
	border: 0;
	padding: 0; 
	background-color: white;
	background-image: url(../img/arrow2right.PNG);
	background-repeat: no-repeat;
}

.named-field{
/* A div-wrapper for dropdown-field or text-field with named header*/

}
.named-field .text-field{
	margin: 5px 0;
}

/*2.2. all buttons styles*/

/*2.2.1 gradient button styles*/
.gradient-btn{
  /*width: 100px;*/  
  position: relative;
  border-radius: 32px;
  height: 64px;
}
.gradient-btn__btn:disabled+.gradient-btn__render{
  opacity: 0.5;
}
.gradient-btn:hover > .gradient-btn__render::before{
  background: rgba(255,255,255,1);
}
.gradient-btn:hover .gradient-btn__text{
  color: #bc9cff;
}
.gradient-btn_arrowed:after{
  content: "\ea3c";
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 4;
  color: white;
}
.gradient-btn:hover.gradient-btn_arrowed:after{
  color: #bc9cff;
}
.gradient-btn__render{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.gradient-btn__render::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  z-index: 1;
}
.gradient-btn__render::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: inherit;
  background: rgba(255,255,255,0);
  z-index: 2;
}
.gradient-btn__text{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: white;
}
.gradient-btn__text_def{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.gradient-btn__btn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border-width: 0;
  background: rgba(255,255,255,0);  
  z-index: 4;
}
/*2.2.1 end*/

/*2.2.2 Round button styles (Buttons for modal form guests) and his grouping controls*/
.round-button {
	border-radius: 15px;
	border: 1px solid rgba(31, 32, 65, 0.05);
	background-color: #fff;
	padding: 3px 10px 4px 10px;
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 22px;
	color: rgba(31, 32, 65, 0.25);
}

.round-counter{
	width:90px;
	/*float: right;*/
	display: flex;
	justify-content: space-between; 
}
/*.modalFormGuests_BtnGrp > *{
	display: inline;
}
rd-btn-grp modal-form-guests__btn-grp
*/

.round-counter > .round-counter-text{
	margin: 0;
	padding: 6px 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

.item-with-counter{
	padding: 3px 0 3px 3px;
	height: 35px;
	display: flex;
	justify-content: space-between; 
}
.item-with-counter h3{
	padding: 6px 0;
}


/*2.2.2 end*/

/*2.2.3 The modal form confirm/decline button styles*/
.button-cd{
	border: none;
	background-color: #fff;
	padding: 0;
	color: rgba(31, 32, 65, 0.5);
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;

}

.button-cd:hover{
	color: #bc9cff;
}

.button-bar{
	padding: 9px 0 1px 3px;
	height: 35px;
	display: flex;
	justify-content: space-between; 
}
/*2.2.3 end*/

/*2.2 end*/

/*2.3 any radio buttons styles*/

.radio-btn{
  position: relative;
  min-height: 30px;
  padding-left: 30px;
  padding-right: 15px;
  cursor: pointer;
  display: inline-block;
}
.radio-btn__check-box{
  position: absolute;
  width: 0px;
  height: 0px;
  outline: none;
}
.radio-btn__label{
  cursor: pointer;
}
.radio-btn__render{
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: solid 1px #bc9cff;
  border-radius: 9px;
  cursor: pointer;
}
.radio-btn__check-box:disabled + .radio-btn__label > .radio-btn__render {
  border-color: rgba(31, 32, 65, 0.25);
}
.radio-btn__check-box:focus + .radio-btn__label > .radio-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(0, 0, 255, 0.15);
}
.radio-btn__check-box:active + .radio-btn__label > .radio-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(255, 0, 0, 0.3);
}
.radio-btn__check-box:checked + .radio-btn__label > .radio-btn__render::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.radio-btn__check-box:checked + .radio-btn__label {
  color: rgba(31, 32, 65, 0.75);
}
/*2.3 end*/

/*2.4. any toggles styles*/

.toggle-btn{
  position: relative;
  min-height: 30px;
  padding-left: 50px;
}
.toggle-btn__check-box{
  position: absolute;
  width: 0px;
  height: 0px;
  outline: none;
}
.toggle-btn__label{
  cursor: pointer;		
  color: rgba(31, 32, 65, 0.75);
}
.toggle-btn__render{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  border: solid 1px rgba(31, 32, 65, 0.25);
  border-radius: 9px;
  cursor: pointer;	
}
.toggle-btn__check-box:checked + .toggle-btn__label > .toggle-btn__render {
	border-color: #bc9cff;
}
.toggle-btn__check-box + .toggle-btn__label > .toggle-btn__render::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	left: 9px;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(31, 32, 65, 0.25);
	transition: left 0.5s;
}
.toggle-btn__check-box:checked + .toggle-btn__label > .toggle-btn__render::before {
	left: 29px; /*28*/
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

/*.btnToggleCkB:disabled + .btnToggleLbl > .btnToggleRender {
  border-color: rgba(31, 32, 65, 0.25);
  cursor: auto;
}
.btnToggleCkB:disabled + .btnToggleLbl {
  cursor: auto;
}*/
.toggle-btn__check-box:focus + .toggle-btn__label > .toggle-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(0, 0, 255, 0.15);
}
.toggle-btn__check-box:active + .toggle-btn__label > .toggle-btn__render {
  outline: none;
  box-shadow: 0 0 1px 2px white, 0 0 3px 3px rgba(255, 0, 0, 0.3);
}
/*2.4 end*/
/*2.5. Double Range Slider styles*/
/*2.5.1 IonRangeSlider reskin styles*/
.irs--big .irs-handle{
	top:32px;
	width:15px;
	height:15px;
	border:2px solid white;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	box-shadow:none;
}
.irs--big .irs-bar {
	top:36px;
	height:7px;
	border:none;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	box-shadow:none;
}
.irs--big .irs-line {
	top:36px;
	height:7px;
	background-image:none;
	background-color:white;
	border:2px solid rgba(31, 32, 65, 0.13);/*rgba(228, 229, 232,1)*/
	border-radius:3px;
}
/*2.5.1 end*/
/*2.5.2 Double Range Slider other styles*/
.double-range-slider{

}
.drs__header{
	display:flex;
	justify-content:space-between;
	position:relative;
	top:15px;
}
.drs__value-grp,
.drs__subscription{
	font-size:12px;
	line-height:14px;
	color: rgba(31, 32, 65, 0.5);
	margin:0;
}
.drs__value-from,
.drs__value-to{
	position:relative;
	padding-right:10px;
}
.drs__value-from:after,
.drs__value-to:after{
	font-family:'icomoon-cur';
	content:"\f158";
	position:absolute;
	font-size:13px;
	right:0;
	top:2px;
}

/*2.5.2 end*/
/*2.5 end*/
/*2 end*/

/*3.0.1 Base classes for all pages*/
.body-container{
	width: 1440px;
	margin: 0 auto;
}
/*3.0.1 end*/

/*3.1.1 Common header for all site pages*/
/**/

.header{
	/*for debug, later remove
	border: 1px solid #000;*/
	/*for debug, later remove
	border: 1px solid #000;
	vertical-align: middle;
	position: relative;
*/
}
.header__inner{
	height:70px;
	max-width:1160px;/*1440px-280px*/
	min-width:875px;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;
	/*Not to stick the container to the device sides that width less then 1440px
	padding: 0 15px; */
}
.header__logo{
	padding: 12px 0;
}

.header__menu{
	/*display: inline;	
	padding-right: 125px;/*140-15*/
}
.header__list{
	display:flex;
	justify-content:flex-end;
	align-items: center;
	padding: 15px 0;
}

.header__item{
	padding: 9px 15px;
	position:relative;/* It's needed to pose absolute header__list2 class*/
}

.header__link{
	color: rgba(31, 32, 65, 0.5);
}
.header__link:hover{
	color: rgba(31, 32, 65, 0.75);
	font-weight: bold; 
}
.header__link_dd{
	padding-right: 26px;
	position:relative;
}
.header__link_dd:after{
	position:absolute;
	font-family:"icomoon";
	font-size:24px;
	content:"\e905";
	top:50%;
	transform:translateY(-50%);
	right:0;
	transition:transform 1s;
}
.header__link_dd-click:after{
	top:50%;
	transform: translateY(-50%) rotate(180deg);
	transition:transform 1s;
}

.header__item_btn{
	padding: 0 0 0 20px;
}
.header__item-btn-log{
	height: 34px;
	border-radius: 17px;
	width: 79px;
}

.header__item-btn-reg{
	height: 34px;
	border-radius: 17px;
	width: 101px;
}
.header__item-info{
	position:relative;
	padding: 9px 15px;
	color: rgba(31, 32, 65, 0.5);
}

.header__list2{
	position:absolute;
	display:none;
	padding-top: 20px;
}
.header__item2{
	padding: 9px 15px;
}
.header__link2{
	color: rgba(31, 32, 65, 0.5);
}
.header__link2:hover{
	color: rgba(31, 32, 65, 0.75);
	font-weight: bold; 
}

.header__list2_show{
	display:block;
}

.header__delimiter{
	height:30px;
	width:1px;
	background-color: rgba(31, 32, 65, 0.5);
}
.header__full-name{

}
/*.header__list a{
	padding: 10px 15px 10px 15px;
}
.header__list a:hover{
	/* Dark 75% *//*
	color: rgba(31, 32, 65, 0.75);
	font-weight: bold;  
	/*padding: 10px 13.5px 10px 13.5px;
	14px for "Home", "News", "Services" 
	13.5px for "About Us" and "Careers"
	13.2px for "Documentation"
	For another localization words have to calculate the accordinly values of the padding
	*//*
}*/
/*3.1.1 end*/


/*3.1.2 Common header for all UI-kit pages*/
/**/

.header-ui{
	width: 100%;
}
.header-ui__logo{
	padding: 12px 0 12px 140px;/*left=140-15*/
}
/*3.1.2 end*/

/*3.2.1 Common footer for all pages*/
/**/
.footer-inner{
	height: 373px;
	max-width:1160px;
	margin:0 auto;
}

.footer-body{
	height: 100%;
	display: flex;
	justify-content: space-between; 
}
.footer-body-2{
	flex-direction: column;
	justify-content: center; 
	align-items: center;
}
/*.footer-container__body > div{
	display: inline-block;

}*/

.footer-body h3{
	padding: 10px 0;	
}
.footer-body p{
	line-height: 24px;	
	color: rgba(31, 32, 65, 0.75);
}

.footer-body__logo{
	width: 260px; /*22.4%;*/
	height: 283px;
	margin: 90px 0 0 0;
	flex-shrink:0;
}
.footer-body__logo-2{
	padding:0;
	width: 540px; 
	height: 110px;
	text-align: center;
}

.footer-body__nav{
	width:160px;/*18.1% - 213px*/
	height:283px;
	margin-top:90px; /*40px 0 40px*/
	flex-shrink:1;
}

.footer-body__nav li:not([class*='loc-link']){
	padding: 10px 0;
}
.loc-link-eng,
.loc-link-rus{
	padding:10px 0;
	opacity:0;
	transition:opacity 1s;
}
.loc-link-eng:hover,
.loc-link-rus:hover{
	opacity:1;
	transition:opacity 1s;
}

img[ class^="flag_"]{
	width:24px;
	margin:0 5px 0 0;
}

.loc-link_hidden-lang{
	display:none;
	padding:0;
}

.footer-body__subscription{
	width:260px; /*22.4%;*/
	height:283px;
	margin:90px 0 0 0;
	flex-shrink:0;
}


.footer-sole{
	height: 70px;
	vertical-align: middle;

}

.footer-sole__rights{
	padding: 25px 0;/*left=140-15*/
	float: left;
}

.footer-sole__socials{
	float: right;
}
.footer-sole__socials-list{
	padding: 20px 0px;/*left=140-15-10*/
}
.footer-sole__socials-list-2{
	padding-right:0;
}
.footer-sole__socials-list li{
	display:inline-block;
}
.footer-sole__socials-list li+li{
	padding-left:20px;
}
/*3.2.1 end*/

/*4.1.1 dimf*/
/*dimf - date input modal form*/
/*4.1.1.1 form classes*/
.dimf{
	/* modal-form-date
	left: 170px;
	top: 260px;
	z-index:5;
	background-image: url(../img/GuestsDrDnFrBg.svg);*/
	display:none;
	width:320px;
	height:369px;
	/*background-image: url(../img/GuestsDrDnFrBg.svg);*/
	position:relative;
	padding:9px 14px;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius:5px;
}

/*4.1.1.2 Air-dataPicker reskining*/
.datepicker{
	font-family:'Montserrat';
	width:288px;
	border:none;
	/*
	  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
*/
}

.datepicker--nav {
  border-bottom:none;
  min-height: 52px;
  padding: 4px 4px 24px 4px; 
}

.datepicker--nav-title{
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	color: #1F2041;
}
.datepicker--nav-action svg {
	width: 32px;
	height: 32px;
}
.datepicker--nav-action path {
	fill: none;
	stroke: #BC9CFF;
	stroke-width: 2px;
}

.datepicker--day-name{
	color:#BC9CFF;
	text-transform:capitalize;
	font-weight:bold;
}

.datepicker--cell {
	border-radius:50%;
	font-size:12px;
	line-height:15px;
	height:40px;
	color: rgba(31, 32, 65, 0.5);
}
.datepicker--cell.-current-{
	color:white;
	font-weight:bold;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius:50%;
}
.datepicker--cell.-range-from-{
	border-radius: 50% 0 0 50%; 
}
.datepicker--cell.-range-to-{
	border-radius: 0 50% 50% 0;
}
.datepicker--cell.-in-range-{
	color: rgba(31, 32, 65, 0.5);
	border: none;
	background: linear-gradient(180deg, rgb(238,230,255) 0%, rgb(226,232,253) 100%);
}
.datepicker--cell.-selected-{
}
.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-{
	background: linear-gradient(180deg, rgb(238,230,255) 0%, rgb(226,232,253) 100%);
	font-weight:bold;
	color:white;
}

.datepicker--cell.-range-from-:before{
	content:"";
	position:absolute;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius:50%;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:-1;
}

.datepicker--cell.-range-to-:before{
	content:"";
	position:absolute;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius:50%;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:-1;
}

/*
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
*/

/*4.1.1 end*/

/*4.1.2 qimf*/
/*qimf - quantity input modal form*/
/*the base form classes for guests and accomodations modal forms*/
/*4.1.2.1 common qimf classes*/
.qimf{
	display:none;
	background-image: url(../img/GuestsDrDnFrBg.svg);
	position:relative;
	width:360px;
	height:199px;	
	/*left:10px;
	top:-130px;
	z-index:5;
	align-self:flex-start;*/
	/*background-color: #fff;*/
	padding:31px 31px;
}

/*.modal-form-guests > .mfg__round-counter{
	padding: 3px 0 3px 3px;
	height: 35px;
	display: flex;
	justify-content: space-between; 
}

.modal-form-guests > div:last-child{
	padding: 9px 0 1px 3px;
}*/

.qimf button{
	outline-width: 0;
}

button[class$="p-btn"]{
	border-color: rgba(31, 32, 65, 0.25);
}

button[class$="p-btn"]:hover{
	border-color: rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}

.m-btn-active{
	border-color: rgba(31, 32, 65, 0.25);
}
.m-btn-active:hover{
	border-color: rgba(31, 32, 65, 0.5);
	color: rgba(31, 32, 65, 0.5);
}
.round-counter-text{
	color:#1f2041; /*rgba(31, 32, 65, 0.5);*/
}

/*4.1.2.2 qimf__guests classes*/
.mfg__round-counter{ /*modal-form-guests__round-counter*/

}

/*4.1.2 end*/

/*4.1.x To hide/show the modal form class*/
.modal-form_show{
	display: block;
}
/*4.1.x end*/
